<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Dicas de saúde</ion-card-subtitle>
    <ion-card-title>Yoga: prática vai além da atividade física e promove equilíbrio </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Uma atividade física capaz de trabalhar de forma complementar questões relacionadas ao estresse,
     à ansiedade, além de colaborar no tratamento da depressão e da insônia.
  </ion-card-content>
  <br/>
  <ion-card-header>
    <ion-card-subtitle>Dicas de saúde</ion-card-subtitle>
    <ion-card-title>Vilão ou mocinho? Segredo do café é a quantidade </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Essa bebida está presente em 98% dos lares no País e é a 
    bebida mais consumida entre os brasileiros depois da água.
  </ion-card-content>
  <ion-card-header>
    <ion-card-subtitle>Fique de olho!</ion-card-subtitle>
    <ion-card-title>Sal, açúcar, gorduras: os riscos do excesso </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Óleos, gorduras, sal e açúcar são produtos alimentícios usados para temperar e cozinhar alimentos e para criar preparações culinárias.
  </ion-card-content>
</ion-card>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="consultas">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Consultas</ion-label>
      <ion-badge></ion-badge>
    </ion-tab-button>
 
    <ion-tab-button tab="cadastrar">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Agendar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>