<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login">
  <ion-icon name="person-circle-outline"></ion-icon>
  <ion-input placeholder="Digite o email" [(ngModel)]="email">
    <ion-icon name="mail-outline"></ion-icon>
  </ion-input>
  <ion-input placeholder="Digite a senha" [(ngModel)]="password">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-input>
    <ion-button (click)="signin()" routerLink="/home">
      SIGNIN
      <ion-icon name="send-outline"></ion-icon>
    </ion-button>
    <ion-button routerLink="/signup"> SIGNUP  </ion-button>
</ion-content>
